* {
    @include prefixes(box-sizing, border-box);
    margin: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    @include breakPoint(m){
        font-size: 7px;
    }
}

body{
    font-family: 'Poppins', sans-serif;
}

a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
}

ul,ol {
    list-style: none;
    padding: 0;
}
img {
    width: 100%;
}
input,textarea {
    display: block;
    width: 100%;
    border: none;
}
input:focus,textarea:focus {
    outline: none;
}
.center {
    text-align: center;
}

// project 1
p {
    color: var(--text_color);
    line-height: 1.8;
    font-size: 1.7rem;
}