// break Point
$maxMobile: 767px;
$minSm: 768px;
$maxSm:991.99px;
$minMd: 992px;
$maxMd:1199px;
$minLar: 1200px;

// home 
$main_color: #11ceba;
$text_color: #777;
$back_color: #2e4a59;
$title_color:#d8d6d6;